<div>
  <form [formGroup]="userInfoForm">
    <div>
      <mat-card>
        <mat-card-title>{{ userInfoForm.controls['title'].value }}<hr/></mat-card-title>
        <mat-card-content
          fxLayout="column"
        >
          <mat-form-field appearance="outline">
            <mat-label>Experience (years in number)</mat-label>
            <input matInput type="number" formControlName="experience">
            <mat-error *ngIf="userInfoForm.controls['experience'].hasError('required')">
              Experience is Required
            </mat-error>
            <mat-error *ngIf="userInfoForm.controls['experience'].hasError('min')">
              Experience must be at least 0 years
            </mat-error>
            <mat-error *ngIf="userInfoForm.controls['experience'].hasError('max')">
              Experience must be under 60 years
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Function</mat-label>
            <mat-select formControlName="function" required>
              <mat-option *ngFor="let func of functions" [value]="func.id">
                {{ func.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userInfoForm.controls['function'].hasError('required')">
              Function is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Region</mat-label>
            <mat-select matNativeControl formControlName="region" required>
              <mat-option *ngFor="let region of regions" [value]="region.id">
                {{ region.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userInfoForm.controls['region'].hasError('required')">
              Region is required
            </mat-error>
          </mat-form-field>

          <mat-checkbox formControlName="isLead" color="primary">
            Is lead
          </mat-checkbox>

        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center" >
          <button mat-button  (click)="reset()" type="button">
            {{ userInfoForm.controls['resetBtn'].value }}
          </button>
          <button mat-fab color="primary" (click)="calculate()"
                  [disabled]="userInfoForm.invalid">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>
